body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(to left , rgba(53, 119, 243, 0.801)20%, rgba(237, 92, 92, 0.79) 65%);
}
.caja{
    display: flexbox;
    width: 350px;
    height: 530px;
    margin-top: 30px;
    border-radius: 25px;
    background: #ffffff;
    box-shadow:  0px 0px 26px #8787878c;
            
}
#pantalla{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 82%;
    height: 10%;
    background-color: #f0efef;
    margin: 20px;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid #dcdada;
    font-family: monospace;
    font-size: 35px;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: inset 0px 0px 10px rgba(189, 189, 189, 0.673);
}
.botones{
    display: grid;
    grid-template-columns:repeat(4,70px) ;
    grid-template-rows: repeat(5,70px);
    gap: 10px;
    width: 88%;
    height: 75%;
    margin-left: 20px;
    background-color: #ffffff;
    padding: 0px;
}

.botones>button:not(.numero0,.igual){
    border-radius: 15px;
    font-size: 25px;
    font-family: monospace;
    border: 0px;
    padding: 0px;
    cursor: pointer;
}
.botones>button:hover:not(.igual,.borrar){
    background-color: #68c9f654;
}
.botones>button:active:not(.igual,.borrar){
    background-color: rgba(80, 183, 252, 0.661);
}
.numero0{
    border-radius: 15px;
    font-family: monospace;
    font-size: 25px;
    border: 0px;
    cursor: pointer;
    grid-column-start: 1;
    grid-column: span 2;
    grid-row-start: 5;
}
.operadores{
    display: grid;
    width: 80px;
}


.igual{
    border-radius: 15px;
    cursor: pointer;
    border: 0px;
    font-family: monospace;
    font-size: 45px;
    grid-row: span 2;
    background-color: rgba(65, 150, 241, 0.938);
}
.igual:hover{
    background-color: rgb(42, 143, 250);
}
.borrar{
    background-color: rgba(255, 58, 97, 0.69);
    font-size: 30px;
}
.borrar:hover{
    background-color: rgba(241, 65, 86, 0.866);   
}
.borrar:active{
    background-color: rgba(246, 23, 49, 0.918);
}
.igual:active{
    background-color: rgb(13, 111, 247)
}
@media (min-width:480px) and (max-width:700px){
    #pantalla{
        font-size: 45px;
        
    }
}
/*CREADOR: LEONARDO ROPAIN 7/01/25*/